
h2
{
    padding: 10px;
}

.sale-container
{
    display: flex;
    justify-content: space-between;

    width: 92vw;
    height: 65vh;

    padding: 10px;
}

.search-product-container
{
    width: 60vw;
    border: 1px solid #03003f;

    padding: 12px;
}

.perform-sale-container
{
    width: 30vw;
    border: 1px solid #03003f;

    padding: 12px;
}


