

<h2>Registrar Nueva Venta</h2>

<div class="sale-container">

    <div class="search-product-container">

        <label>Search Product</label>
        <input type="text" class="form-control" placeholder="Search Products">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Meli Id</th>
                    <th>SKU</th>
                    <th>Precio de Compra</th>
                    <th>Precio de Venta</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
        </table>

    </div>


    <div class="perform-sale-container">

        <label>Client</label>
        <input type="text" class="form-control" placeholder="Client">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio de Venta</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
        </table>


        <button type="submit" class="btn btn-primary">Sale</button>

    </div>

</div>
